<ion-view padding="false"
          class="content page-inAppPurchases"
          can-swipe-back="false">

    <div class="bar bar-header">
        <a href="#/main/settings">
            <button class="button button-icon icon ion-chevron-left pt-color-energized"
                    ng-click="goBack();">
            </button>
        </a>
        <div class="h1 title pt-color-energized">
            Setup Subscription
        </div>
    </div>

    <ion-content class="content has-header has-footer"
                padding="false"
                scroll="true"
                has-bouncing="false">
        <ion-list class="list"
                show-delete="false"
                can-swipe="false">
            <ion-item ng-repeat-start="purchase in IAP"
                      ng-click="check($index);">
                <i class="radio pt-color-balanced"
                   ng-class="{'ion-ios-circle-outline':!purchase.checked, 'ion-ios-checkmark':purchase.checked}">
                </i>
                <span>{{purchase.description}}</span>
            </ion-item>
            <span ng-repeat-end="">
                Subscribe to Purchase Service {{purchase.description}} for {{purchase.price}} per month.
                The subscription will give user a full application functionality.
                This subscription will automatically renew until canceled.</span>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer bar-energized">
        <button class="button button-energized" ng-click="submit();">
            <h3 class="title">Submit</h3>
        </button>
    </div>

</ion-view>
